<form class="form-horizontal" [formGroup]="employeeForm"
(ngSubmit)="formHandler()" novalidate>
<div class="form-group">
  <label class="control-label col-sm-2" for="id">Id</label>
  <div class="col-sm-5" [ngClass]="{'has-error':employeeForm.controls.id.invalid && employeeForm.controls.id.dirty}">
    <input type="number" formControlName="id" class="form-control" id="id" placeholder="Enter id">
  </div>
</div>
<div class="form-group">
  <label class="control-label col-sm-2" for="name">Name:</label>
  <div class="col-sm-5"
  [ngClass]="{'has-error':employeeForm.controls.name.invalid && employeeForm.controls.name.dirty}" > 
    <input type="name" formControlName="name" class="form-control" id="name" placeholder="Enter Name" >
  </div>
</div>
<div class="form-group">
    <label class="control-label col-sm-2" for="age">Age</label>
    <div class="col-sm-5" [ngClass]="{'has-error':employeeForm.controls.age.invalid && employeeForm.controls.age.dirty}">
      <input type="number" formControlName="age" class="form-control" id="age" placeholder="Enter Age">
    </div>
  </div>
<div class="form-group">
    <label class="control-label col-sm-2" for="address">Address</label>
    <div class="col-sm-5"> 
      <input type="text" formControlName="address" class="form-control" id="address" placeholder="Enter Address">
    </div>
  </div>
	<div class="form-group">
		<label class="control-label col-sm-2">Language</label>
		<select class="col-sm-5" 
		        formControlName="language">
			<option value="">Please select a language</option>
			<option *ngFor="let lang of langs" [value]="lang">
        {{lang}}
      </option>
</select>
	</div>
<div class="form-group"> 
  <div class="col-sm-offset-3 col-sm-2">
    <button type="submit" 
    [disabled]="employeeForm.status==='INVALID'"
    class="btn btn-default">Submit</button>
  </div>
 <div class="col-sm-2">
      <button type="reset" (click)="resetForm()" class="btn btn-default">Reset</button>
    </div>
  </div>
</form>
{{employeeForm.value | json}}